header {
  background-image: url(15.jpg);

  background-size: cover; /* تغطية كاملة لحجم الهيدر */
 background-position: center; /* وضع الصورة في المنتصف */
  
 color: #e0dbdb;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* يوفر توزيع المحتوى في الهيدر */
  align-items: center; /* يُضبط المحتوى عموديًا في المركز */

}

/* تنسيق اللوجو */
.logo {
  width: 100px; /* اختر العرض المناسب لشعارك */
  height: 140px;;
}

/* تنسيق القائمة */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 /* background-color: #333;*/
  overflow: hidden;
  margin-left: 200px; /* إضافة هامش يميني للقائمة لإضافة المسافة */
}

/* تنسيق الروابط */
 li {

  float: left;
}

li a {
  display: block;
  color: rgb(15, 15, 15);
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a:hover {
  color: #0c0cec;
 /* background-color: #111;*/
}

    /* تنسيق الفوتر */
    footer {
    
     background-color: #333;
      color: #fff;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
    }

    /* تنسيق البودي */
    body {
      width;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
     padding-bottom: 100%; /* قم بتعديل هذه القيمة لتتناسب مع ارتفاع الفوتر */
     width: 95%;
     margin: 0 auto; /* يجعل العنصر في منتصف الصفحة أفقياً */
    }
    

    /* تنسيق العناصر النصية */
    h1 {
      margin-top: 40px;
      text-align: center;
    }
      /* تنسيق الأقسام */
      .section1 {
       
      background-color: rgb(47, 105, 56);
       /* background-image:url(23.jpg);

        background-size: cover; /* تغطية كاملة لحجم الهيدر */
 background-position: center; /* وضع الصورة في المنتصف */

        width: 100%; /* تغيير عرض الأقسام حسب الحاجة */
        float:right;
        padding: 20px;
        box-sizing: border-box; /* يأخذ ال padding في الاعتبار في حساب العرض */
        height: 100%;
      }
     .s1 {
        width:20%; /* تغيير عرض الأقسام حسب الحاجة */
        float: left;
        height:5%;
       /* padding: 10px;
        box-sizing: border-box; /* يأخذ ال padding في الاعتبار في حساب العرض */
      }
  
      /* تنسيق الأقسام للهواتف الصغيرة */
      @media (max-width: 768px) {
        .section {
          width: 100%; /* جعل الأقسام تحت بعضها في الهواتف الصغيرة */
          float: none;
        }
      }
      

         /* تنسيق الأقسام */
    .section {
      width: 30%; /* تغيير عرض الأقسام حسب الحاجة */
      float: right;
      padding: 20px;
      box-sizing: border-box; /* يأخذ ال padding في الاعتبار في حساب العرض */
    }

    /* تنسيق الصور */
    .section img {
      max-width: 100%; /* تجنب تجاوز الصور لعرض الأقسام */
      height: auto;
      display: block;
      margin-bottom: 10px; /* المسافة بين الصور */
    }

    /* الأنيميشن */
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }


    

    