.container {
    width: 100%; /* يمكنك تعديل النسبة حسب الرغبة */
    margin: 0 auto; /* يجعل العنصر في منتصف الصفحة أفقياً */
    background-color: rgb(186, 219, 208);
    height: 5000px;
  }
  header {
    background-image: url(155.jpg);
  
  /*  background-size: cover; /* تغطية كاملة لحجم الهيدر */
   background-position: center; /* وضع الصورة في المنتصف */
    
   color: #e0dbdb;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* يوفر توزيع المحتوى في الهيدر */
    align-items: center; /* يُضبط المحتوى عموديًا في المركز */
  
  }
  .logo {
    width: 100px; /* اختر العرض المناسب لشعارك */
    height: 140px;;
  }

  .right-section {
  
    float: right;
    width:60%; /* تعديل العرض حسب الحاجة */
   /* background-color: #f2f2f2;*/
   background-size: cover; /* تغطية كاملة لحجم الهيدر */
    background-image: url(7.jpg); 
    background-position: center; /* وضع الصورة في المنتصف */
    padding: 20px;
    box-sizing: border-box; /* يأخذ ال padding في الاعتبار في حساب العرض */
  }
  .left-section {
    width: 30%; /* تغيير عرض الأقسام حسب الحاجة */
   
    padding: 20px;
    box-sizing: border-box; /* يأخذ ال padding في الاعتبار في حساب العرض */

    float: left;
    width: 40%; /* تعديل العرض حسب الحاجة */
   /* background-color: #e0e0e0;*/

   background-size: cover; /* تغطية كاملة لحجم الهيدر */
   background-image: url(7.jpg); 
    background-position: center; /* وضع الصورة في المنتصف */
    padding: 20px;
    box-sizing: border-box; /* يأخذ ال padding في الاعتبار في حساب العرض */
  }
h2{
color: #1012b4;
}
.section {
  width: 100%; /* تغيير عرض الأقسام حسب الحاجة */
  float: right;
  padding: 20px;
  box-sizing: border-box; /* يأخذ ال padding في الاعتبار في حساب العرض */
}
.section img {
  max-width: 100%; /* تجنب تجاوز الصور لعرض الأقسام */
  height: auto;
  display: block;
  margin-bottom: 10px; /* المسافة بين الصور */
}


    /* تنسيق القائمة المنسدلة */
    .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  /* تنسيق الروابط داخل القائمة المنسدلة */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
      background-color: #ddd;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 34%;
  }  
  
  div {
   
   /* padding-top: 50px;
   
    padding-bottom: 50px;
    padding-left: 80px;*/
   /* padding-right: 10px;
  }